.indexForm {
  margin: 1rem;
}

.indexFormP {
  display: flex;
}

.indexFormPP {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

header {
  display: flex;
  justify-content: space-between;
  min-height: 65;
  background-color: rgba(245, 245, 245, 0.7);
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: .5rem;
}

body {
  background-image: url(../app/img/fondoSIngin.jpeg);
}

.userNameSty {
  margin-right: 3rem;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.bkbtn {
  height: 50px;
}

.bckbtn {
  border-radius: 1rem;
  background-color: aliceblue;
}

.bckbtn:hover {
  background-color: gray;
  /* Cambia el fondo en hover */
  color: #fff;
  /* Cambia el color del texto en hover */
  transition: background-color 0.3s, color 0.3s;
  /* Transición de color y fondo en hover */
}

.logo {
  height: 5rem;
}

.opBar {
  display: flex;
  margin-right: 3rem;
}

.session1 {
  background-color: greenyellow;
  display: flex;
  flex-direction: column;
}

/*tabla*/
.status_colors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

}

.completed {
  text-decoration: line-through;
  background-color: #2ecc71;
  color: #111;
}

li form {
  margin-left: 1rem;
  margin-bottom:.5rem;
  padding: 1.5rem;
  background-color: #eb4d4b;
  color: #fff;
  border-radius: .5rem;

}

ul {
  list-style: none;
  margin-right: 3rem;
}

.submenu {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
}

.submenu li a {
  display: block;
  padding: 10px;
  font-family: sans-serif;
  text-decoration: none;
}

.menu li:hover .submenu {
  display: block;
}

nav ul {
  margin-right: 20px;
  display: flex;
  list-style: none;
}

nav a {
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  color: aliceblue;
}

.container {
  background-color: rgba(245, 245, 245, 0.4);
  padding: 2rem;
  border-radius: .5rem;
  max-height: fit-content;
  margin-bottom: 5rem;

}

select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
  background-color: #fff;
}

select:hover {
  border-color: #555;

}


select:focus {
  outline: none;
  border-color: #007bff;
}

#test {
  align-items: space-between;
}

.let1 {
  background-color: #2ecc71;
  padding: .5rem;
  border-radius: .5rem;
}

.let2 {
  background-color: #eb4d4b;
  padding: .5rem;
  border-radius: .5rem;
}


button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 1rem;
  text-decoration: none;
  border: none;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  background-color: gainsboro;
}

button:focus {
  outline: none;
}

button:active {
  background-color: lightblue;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 200px;
}

input[type="date"]:hover {
  border-color: #555;
}

input[type="date"]:focus {
  outline: none;
  border-color: #007bff;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 300px;
}

input[type="text"]:hover {
  border-color: #555;
}

input[type="text"]:focus {
  outline: none;
  border-color: #007bff;
}